
Code/Backups
Code/Cache
Code/CachedData
Code/CachedExtensionVSIXs
Code/CachedExtensions
Code/Code Cache
Code/Crash Reports
Code/GPUCache
Code/Local Storage/leveldb
Code/Service Worker
Code/Session Storage
Code/User
Code/clp/92f61bb58ac5751fbb82c3c2359454f5.zh-cn
Code/databases
Code/exthost Crash Reports
Code/logs
Code/Cookies
Code
CuteCom
Kingsoft
LarkShell
MQTT-Explorer
OpenConnect-GUI Team
Typora
Undertype
Vulcan/User Data
XMind
autostart
coc
composer
copyq
dconf
dlv
doom.d
fcitx
fontforge
galculator
htop
lazygit
microsoft-edge-dev
mpv/shaders_cache
mpv/watch_later
nautilus
navicat
netease-cloud-music
nvim.dein
nvim.me
nvim.nvchad
nvim.plug
nvim.ray
nvimcoc
pulse
qv2ray
rofi.old
sogoupinyin
teamviewer
thefuck
todesk
vim/yankround
vulcan
wireshark
xfce4
yarn/global
微信
nvim
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
QtProject.conf

cef_user_data/Dictionaries
configstore
dev_nvim
github-copilot
google-chrome
koreader
lapce
nvim.bk
qBittorrent
ranger/plugins/__pycache__
uGet
weixin
yesplaymusic
bless
Trolltech.conf